var card_feed_temp = _.template($("#feed-under-template").html());
var card_feeds = JSON.parse('<%= escape_javascript @card_feed %>')
$("#mycardsTab #feed-dashboard").append(card_feed_temp({activities: card_feeds}));
$("abbr.timeago").timeago();
<% if @card_total_pages > params[:page].to_i %>
$("#mycardsTab #load_more_feed").attr('href', '<%= card_feed_path(:page => params[:page] ? params[:page].to_i + 1 : 2) %>')
<% else %>
$("#mycardsTab #load_more_feed").remove();
<% end %>