var card_feed_temp = _.template($("#feed-under-template").html());
var card_feeds = JSON.parse('<%= escape_javascript @card_feed %>')
$("#mycardsTab #feed-dashboard").append(card_feed_temp({activities: card_feeds}));
$("abbr.timeago").timeago();
<% if @card_total_pages > params[:page].to_i %>
$("#mycardsTab #load_more_feed").attr('href', '<%= card_feed_path(:page => params[:page] ? params[:page].to_i + 1 : 2) %>')
<% else %>
$("#mycardsTab#load_more_feed").remove();
<% end %>

var link_feed_temp = _.template($("#feed-under-template").html());
var link_feeds = JSON.parse('<%= escape_javascript @link_feed %>')
$("#mylinksTab #feed-dashboard").append(link_feed_temp({activities: link_feeds}));
$("abbr.timeago").timeago();
<% if @link_total_pages > params[:page].to_i %>
$("#mylinksTab #load_more_feed").attr('href', '<%= link_feed_path(:page => params[:page] ? params[:page].to_i + 1 : 2) %>')
<% else %>
$("#mylinksTab #load_more_feed").remove();
<% end %>


var micro_feed_temp = _.template($("#feed-under-template").html());
var micro_feeds = JSON.parse('<%= escape_javascript @micro_feed %>')
$("#mymicrosTab #feed-dashboard").append(micro_feed_temp({activities: micro_feeds}));
$("abbr.timeago").timeago();
<% if @micro_total_pages > params[:page].to_i %>
$("#mymicrosTab #load_more_feed").attr('href', '<%= micro_feed_path(:page => params[:page] ? params[:page].to_i + 1 : 2) %>')
<% else %>
$("#mymicrosTab #load_more_feed").remove();
<% end %>