<%= content_for :js do %>
<%= render "users/dashboard_templates.html.erb" %>
<script type="text/javascript" charset="utf-8">
  var feeds = JSON.parse('<%= escape_javascript @feeds %>')
</script>
<% end %>
<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "users/sidebar_dashboard" %>
    <div class="six columns">
      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="nine columns push-three" style="padding: 0px;">
              <dl class="dashboard tabs">
                <dd class="active"><a href="#myfeed">Feed</a></dd>
                <dd><a href="#mylinks">Links</a></dd>
                <dd><a href="#mymicros">Micros</a></dd>
                <dd><a href="#mycards">Cards</a></dd>
              </dl>
            </div>
         </div>
          <ul class="tabs-content">
            <li class="active" id="myfeedTab">
              <div id="feed-dashboard">
              </div>
              <%= link_to "Load More", feed_path(:page => 2), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
            </li>

            <li id="mylinksTab">
              <div id="feed-dashboard">
              </div>
              <%= link_to "Load More", link_feed_path(:page => 2), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
            </li>

            <li id="mymicrosTab">
              <div id="feed-dashboard">
              </div>
              <%= link_to "Load More", micro_feed_path(:page => 2), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
            </li>

            <li id="mycardsTab">
              <div id="feed-dashboard">
              </div>
              <%= link_to "Load More", card_feed_path(:page => 2), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
            </li>
          </ul>
        </div>
      </div>     
    </div>
    <div class="three columns">
    </div>
  </div>
</div>