var feed_temp = _.template($("#feed-under-template").html());
var feeds = JSON.parse('<%= escape_javascript @feeds %>')
$("#myfeedTab #feed-dashboard").append(feed_temp({activities: feeds}));
$("abbr.timeago").timeago();
<% if @total_pages > params[:page].to_i %>
$("#myfeedTab #load_more_feed").attr('href', '<%= feed_path(:page => params[:page].to_i + 1) %>')
<% else %>
$("#myfeedTab #load_more_feed").remove();
<% end %>