var link_feed_temp = _.template($("#feed-under-template").html());
var link_feeds = JSON.parse('<%= escape_javascript @link_feed %>')
$("#mylinksTab #feed-dashboard").append(link_feed_temp({activities: link_feeds}));
$("abbr.timeago").timeago();
<% if @link_total_pages > params[:page].to_i %>
$("#mylinksTab #load_more_feed").attr('href', '<%= link_feed_path(:page => params[:page] ? params[:page].to_i + 1 : 2 ) %>')
<% else %>
$("#mylinksTab #load_more_feed").remove();
<% end %>