var micro_feed_temp = _.template($("#feed-under-template").html());
var micro_feeds = JSON.parse('<%= escape_javascript @micro_feed %>')
$("#mymicrosTab #feed-dashboard").append(micro_feed_temp({activities: micro_feeds}));
$("abbr.timeago").timeago();
<% if @micro_total_pages > params[:page].to_i %>
$("#mymicrosTab #load_more_feed").attr('href', '<%= micro_feed_path(:page => params[:page] ? params[:page].to_i + 1 : 2 ) %>')
<% else %>
$("#mymicrosTab #load_more_feed").remove();
<% end %>