<% if micro.id %>
<div class="twelve columns left-border">

  <div class="title date">
    <a herf="<%= user_profile_path(micro.user.username) %>" class="card-avatar square small">
      <img alt="gravatar <%= micro.user.username %>" src="<%= micro.user.gravatar_url(default: 'identicon', size: 90) %>">
    </a>
    <% if reply %>
    <span>
      <a href="<%= user_profile_path(micro.user.username) %>">@<%= micro.user.username %></a>
      in reply to <a href="<%= user_profile_path(micro.replied_post.user.username) %>">@<%= micro.replied_post.user.username %></a>
    </span>
    <% end %>
    <!-- <abbr class="grey timeago" title="<%%= activity.hours_ago %>"></abbr> -->
  </div>

  <div class="panel micro" id="micro<%= micro.id %>">
    <div class="content head-font head-color">
      <p style="font-weight: normal;margin-bottom:0px;">
        <% if reply %>
          <a class="grey" href="<%= user_profile_path(micro.user.username) %>">@<%= micro.user.username %></a>
        <% end %>
      </p>
      <a href="<%= micro_path(micro) %>" ><%= micro.content %></a>
      
      <ul class="float-left-list action-list">
        <li class="red">
          <span class="high-five-count"><%= micro.high_fives.length %></span> High Fives
        </li>
        <li class="red">
          <span class="view-count red"><%= micro.view_count %></span> Views
        </li>
        <li class="red">
          <span class="reply-count red"><%= micro.replies.length %></span> Replies
        </li>
      </ul>
    </div>
    <% if current_user %>
      <div class="micro-reply row">
        <div class="ten columns">
        <%= form_for micro.replies.build, :remote => true do |f| %>
          <%= f.text_area :content, :cols => 3, :rows => 1, :placeholder => "Reply to " + reply_to(micro), :class => "micro_reply" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :in_reply_to, :value => micro.id %>
          <%= f.submit "Reply", :disable_with => "Replying..", :class => "button success round small hide" %>
        <% end %>
      </div>
      </div>
    <% end %>

      <ul class="float-right-list action-list">
      <li class="high_five_but">
        <% if current_user %>
          <% unless micro.high_fives.map(&:user_id).include?(current_user.id) %>
            <%= high_five_form(micro.id, "Micro", current_user.id) %>
          <% end %>
        <% else %>
          <%= link_to "high five!", "#", :class => "reveal-signin-modal", :"data-alert-msg" => "Please join to High Five!" %>
        <% end %>
      </li>

       <%= render :partial => "layouts/share", :locals => {:url => micro_url(micro), :description => micro.content, :title => "#{micro.user.full_name} created a Micro at WeAreIndiaTech", :type => "Micro", :track_id => micro.id} %> 
       
    </ul>
  </div>
</div>
<% end %>
