<% if @micro.errors.any? %>
// This replied post stuff is temp, we should clean this up and render partial with js
	<% if @micro.replied_post %>
		<% flash[:error] = "Oops! Could not create the micro." %>
		window.location = window.location.href.split('#')[0]
	<% else %>
		var errors = <% @micro.errors.full_messages.each_with_index do |msg, i| %>"<%= msg %>" + "<br /><br />"<% end %>
		$("#microModal .alert").remove();
		$("#microModal").prepend("<div class='alert alert-box s-alert'>" + errors + "<a href='' class='close'>&times;</a></div>")
	<% end %>
<% else %>
	$("#microModal").trigger('reveal:close');
	<% if @micro.replied_post %>
		<% flash[:success] = "Successfully created the micro" %>
		window.location = window.location.href.split('#')[0]
	<% end %>
<% end %>