<div class="twelve columns left-border" id="noti_<%= notification.id %>">

  <div class="title date">
    <span class="invisible">
      x
    </span>
  </div>

  <div class="panel notification">
    <%= link_to "x", notification_path(notification), :class => "close grey", :method => "delete", :remote => true %>
    <div class="content head-font head-color">
      <span>
      <a href="<%= user_path(notification.actor) %>"><%= "@" + notification.actor.username %></a>
    </span>
    <%= notification.text %>
    <abbr class="grey timeago" title="<%= notification.created_at.iso8601 %>"></abbr>
    </div>
  </div>
</div>
