<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "users/sidebar_dashboard" %>
    <div class="six columns" style="padding-top: 26px;margin-bottom: 25px;">
      <h2>Notifications:</h2> 
      <div class="row card-container">
        <% if @notifications[0] %>
          <%= render :partial => 'notification', :collection => @notifications %>
        <% else %>
          <div class="twelve columns left-border">
            <div class="panel notification">
              <div class="content head-font head-color">              
                No Notifications
              </div>
            </div>
          </div>
        <% end %>
      </div>        
    </div>
    <div class="three columns">
    </div>
  </div>
</div>