<div class="twelve columns">
  <div class="panel card" id="card<%%= activity.trackable.id %>">
    <div class="content head-font head-color">
      <p style="font-weight: normal;margin-bottom:0px;"><a class="grey" href="<%%= activity.user.profile_url %>">@<%%= activity.user.username %></a></p>
      <a href=""><%%= activity.trackable.content %></a>
      <p class="high-five-count-container"><span class="high-five-count"><%%= activity.trackable.high_fives_length %></span> High Fives &nbsp;&nbsp;<span class="view-count"><%%= activity.trackable.view_count %></span> Views</p>
    </div>

    <ul class="float-right-list action-list">
    <li class="high_five_but">
      <% if current_user %>
      <%% if(!activity.trackable.high_fived)  { %>
      <form accept-charset="UTF-8" action="/high_fives" class="new_high_five" data-remote="true" id="new_high_five" method="post" style="margin: 0px">
          <input id="high_five_resource_id" name="high_five[resource_id]" type="hidden" value="<%%= activity.trackable.id %>">
          <input id="high_five_resource_type" name="high_five[resource_type]" type="hidden" value="Card">
          <input id="high_five_user_id" name="high_five[user_id]" type="hidden" value="<%= current_user.id %>">
          <input class="small button tag" name="commit" data-disable-with = "wait" type="submit" value="high five!">
      </form>
      <%% } %>
      <% else %>
        <%= link_to "high five!", "#", :class => "reveal-signin-modal", :"data-alert-msg" => "Please join to High Five!" %>
      <% end %>
    </li>

    <li>
      <%= link_to "share", "", :class => "small button tag" %>
    </li>
  </ul>
  </div>
</div>