<div class="twelve columns">
  <div class="panel card" id="card<%= card.id %>">
    <div class="content head-font head-color">
      <p style="font-weight: normal;margin-bottom:0px;"></p>
     <a href="<%= card_path(card) %>" ><%= card.description %></a>
      <p class="high-five-count-container"><span class="high-five-count"><%= card.high_fives.length %></span> High Fives &nbsp;&nbsp;<span class="view-count"><%= card.view_count %></span> Views</p>
    </div>

    <ul class="float-right-list action-list">
    <li class="high_five_but">
      <% if current_user %>
      <% unless card.high_fives.map(&:user_id).include?(current_user.id) %>
        <%= high_five_form(card.id, "Card", current_user.id) %>
      <% end %>
      <% else %>
        <%= link_to "high five!", "#", :class => "reveal-signin-modal", :"data-alert-msg" => "Please join to High Five!" %>
      <% end %>
    </li>

    <%= render :partial => "layouts/share", :locals => {:url => card_url(card), :description => card.description, :title => "#{card.user.full_name} created a Card at WeAreIndiaTech", :type => "Card", :track_id => card.id} %>
  </ul>
  </div>
</div>