<fieldset class="fields company">
    <legend>Add Company(optional)</legend>
    <%= link_to_remove_fields "x", f %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :company_name , "Company Name"%>
    <%= f.text_field :company_name %>
    <%= f.label :location%>
    <%= f.text_field :location %>
    <%= f.label :technologies, "Technologies &nbsp;<div class='help-inline'>i.e. Ruby, ios, HTML5 etc.</div>".html_safe %>
    <%= f.text_field :technology_list %>
    <br />
    <%= f.label :working_currently , "#{f.check_box :working_currently, :class => "working_currently"} &nbsp;I currently work here".html_safe %>
    <div class="row">
        <div class="columns one">
            <%= f.label :work_from, "From" %>
        </div>
        <div class="columns five">
            <%= f.date_select(:work_from, :start_year => 1970, :discard_day => true) %>
        </div>
        <div class="columns one">
            <%= f.label :work_till, "to" %>
        </div>
        <div class="columns five work_till">
            <span>present</span>
            <%= f.date_select(:work_till, :start_year => 1970, :discard_day => true) %>
        </div>
    </div>
    <br />
    <%= f.label :summary%>
    <%= f.text_area :summary, :placeholder => "", :rows => 4 %>
    <p></p>
</fieldset>