
<script type="text/template" id="feed-under-template">
		<div class="row">
			<div class="columns twelve">
				<%% _(activities).each(function (activity, i) { %>
					<div class="row card-container">
						<div class="columns one">
			        
						</div>
						<div class="columns eleven" style="margin: 0px; padding: 0px; border-left: 4px solid #E2E5E7">
							<div class="title date">
			        	<a herf="<%%= activity.user.profile_url %>" class="card-avatar square small">
				          <img alt="gravatar <%%= activity.user.name %>" src="<%%= Gravtastic(activity.user.email, {default: 'identicon', size: 90}) %>">
			          </a>
								<span>
									<a href="<%%= activity.user.profile_url %>"><%%= activity.user.name %></a>
								</span>
								<%%= activity.title %>
								<abbr class="grey timeago" title="<%%= activity.hours_ago %>"></abbr>
							</div>

								<%% if(activity.trackable_type == 'Micro') { %>
									<div class="row no-margin-row">
										<%= render "users/micro_dashboard_template" %>
									</div>
								<%% } else if(activity.trackable_type == 'Card'){ %>
									<div class="row no-margin-row">
										<%= render "users/card_dashboard_template" %>
									</div>
								<%% } else if(activity.trackable_type == 'Link'){ %>
									<div class="row no-margin-row">
										<%= render "users/link_dashboard_template" %>
									</div>
								<%% }  %>
						</div>
					</div>
				<%% }) %>
			</div>
		</div>
</script>