<div class="row featured">
  <div class="ten columns centered">

    <!-- Header Content -->
		<div class="row" style="<%= 'visibility: hidden' if params[:action] == 'profile'%>">
			<div class="three columns">
				<div class="right-cut-label">
					<h3>FEATURED</h3>
				</div>
			</div>
		</div>

    <div class="row">

      <div class="two columns">

       <%=link_to (image_tag featured.gravatar_url :size => 200), user_profile_path(featured.username) %><br>

      </div>


      <div class="ten columns">

        <h3 class="show-for-small"><%= featured.title %><hr/></h3>

        <div class="panel">
          <h4 class="hide-for-small"><%= featured.title %><hr/></h4>
        <h5 class="subheader"><%= truncate( featured.bio, :length => 500, :separator => ' ') %></h5>
        </div>

      <div class="row">
          <div class="six mobile-two columns">
            <div class="panel">
              <h5>I recommend reading:</h5>
            <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
            <a href="#" class="small button">BUTTON TIME!</a>
            </div>
          </div>

          <div class="six mobile-two columns">
            <div class="panel">
              <h5>Availability</h5>
            <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
            <a href="#" class="small button">BUTTON TIME!</a>
            </div>
          </div>
      </div>

      </div>

    </div>
  </div>
</div>