<% if current_user %>
	<%= form_for(current_user.relationships.build(followed_id: user.id),
	             remote: true) do |f| %>
	  <div><%= f.hidden_field :followed_id %></div>
	  <%= f.submit "Follow me", class: "radius cyan button small dblock", :disable_with => "Following" %>
	<% end %>
<% else %>
	<form accept-charset="UTF-8" method="post">
  	<input class="radius button medium dblock reveal-signin-modal" data-alert-msg="Please join to Follow." name="commit" type="submit" value="Follow">
	</form>
<% end %>