<div class="row card-container">
	<div class="columns one"></div>
	<div class="columns eleven left-border" style="margin: 0px;">
		<div class="title date">
    	<a herf="<%= user_profile_path(follower.username) %>" class="card-avatar square small">
      	<img alt="gravatar <%= follower.username %>" src="<%= follower.gravatar_url(default: 'identicon', size: 90) %>">
    	</a>
			<span class="invisible">
				x
			</span>
		</div>			
		<div class="row no-margin-row">
			<div class="twelve columns">
				<div class="panel micro" id="micro785">
			    <div class="content head-font head-color">
			      <p class="m-bottom0">
			      	<%= link_to follower.format_username, user_profile_path(follower.username), class: "grey"  %>
			      </p>
			      <%= link_to follower.full_name, user_profile_path(follower.username) %><br />
			      <span style="font-size: 19px;"><%= follower.title %></span>
			      <p class="grey"><span><%= follower.followers_counter %></span> Followers&nbsp;&nbsp;<span class="view-count"><%= follower.followed_counter %></span> Followings &nbsp;&nbsp;<span><%= follower.cards_counter %></span> Cards</p>
			    </div>
			    <article>
		        <dl class="sub-nav skill-list">
		          <dt class="m-bottom0">Skills:</dt>
		          <% follower.skills.each do |skill| %>
		            <dd><a href="#" class="button small tag"><%= skill.name %></a></dd>
		          <% end %>
		        </dl>
    			</article>
			    <div id="follow-but<%= follower.id %>" class="corner">
		        <% if current_user && current_user != follower %>
		          <% if current_user.following?(follower)%>
		            <%= render :partial => 'unfollow', :locals => {:user => follower} %>
		          <% else %>
		            <%= render :partial => 'follow', :locals => {:user => follower} %>
		          <% end %>
		        <% else %>
		          <%= render :partial => 'follow', :locals => {:user => follower} %>
		        <% end %>
      		</div>
				</div>
			</div>
		</div>				
	</div>
</div>