<div class="eight columns pull-left">
    <div class="row">
      <%= form_for(@user) do |f| %>
        <div class="six columns">
            <h2>Edit Your Profile</h2>
            <fieldset>
              <legend>Personal Info</legend>
              <%= f.label :first_name %>
              <%= f.text_field :first_name, placeholder: "John" %>

              <%= f.label :last_name %>
              <%= f.text_field :last_name, placeholder: "Doe" %>

              <%= f.label :title %>
              <%= f.text_field :title, placeholder: "Web Developer" %>

              <%= f.label :location %>
              <%= f.text_field :location , placeholder: "Delhi, India" %>
              <div class="row">
                <div class="three columns">
                  <%= image_tag @user.gravatar_url %>
                </div>
                <div class="nine columns">
                  <%= link_to "You can change your image at gravatar.com", "http://gravatar.com" %>
                  <p>We are using <%= @user.email %></p>
                </div>
              </div>
              <label></label>

             <!--  <%#= f.fields_for :social_links do |builder| %>
                  <%#= render "social_link_fields", :f => builder %>
              <%# end %>
              <%#= link_to_add_fields "Add Link", f, :social_links %> -->


              <%= f.label :bio %>
              <%= f.text_area :bio, :rows => 15, placeholder: "How awesome I am" %>

              <p></p>
            </fieldset>
        </div>

        <div class="six columns">
          <fieldset>
            <legend>My Skills</legend>
            <%= f.label :languages, "Languages".html_safe %>
            <%= f.text_field :languages, placeholder: "English, Hindi, German etc" %>
            <%= f.label :skill_list, "Add Skills".html_safe %>
            <%= f.text_field :skill_list, placeholder: "Ruby, PHP, Wordpress, Git, jQuery etc" %>
            <br />
              <%= f.label :freelancer, "#{f.check_box :freelancer} I am a Freelancer".html_safe %>
            <br />
            <label>Job Availability</label>
            <%= f.label :job_availability, "#{f.radio_button :job_availability, 0, :checked => f.object.job_availability == 0 } Not available".html_safe, :for => "user_job_availability_0" %>
            <%= f.label :job_availability, "#{f.radio_button :job_availability, 1, :checked => f.object.job_availability == 1 } Full Time".html_safe, :for => "user_job_availability_1" %>
            <%= f.label :job_availability, "#{f.radio_button :job_availability, 2, :checked => f.object.job_availability == 2 } Part Time".html_safe, :for => "user_job_availability_2" %>
            <p></p>
          </fieldset>
          <%= f.fields_for :schools do |builder| %>
            <%= render "school_fields", :f => builder %>
          <% end %>
          <%= link_to_add_fields "Add Education", f , :schools %>
          <!-- <%#= f.fields_for :company_user_profiles do |builder| %>
            <%#= render "company_user_profile_fields", :f => builder %>
          <%# end %>
          <%#= link_to_add_fields "Add Company", f , :company_user_profiles %> -->
          <p></p>
          <%= f.submit 'I am done', :class => "button medium" %>
        </div>
      <% end %>
    </div>
</div>

<div class="one columns pull-left"></div>
