
<div class="row">
  <div class="ten columns centered">
    <h2>
      <% if(params[:action] == "edit") %>
        Edit Your Profile
      <% else %>
        Add/Update project
      <% end %>

    </h2>
    <%= form_for(@user) do |f| %>
      <%= f.fields_for :projects do |builder| %>
          <%= render "project_fields", :f => builder %>
      <% end %>
      <%= link_to_add_fields "Add Project", f, :projects %>
      <%= f.submit 'I am done', :class => "button medium right" %>
    <% end %>
  </div>
</div>
