<div class="row">
  <div class="ten columns centered">
    <h2>  
        Add/Update Companies
    </h2>
      <%= form_for(@user) do |f| %>
        <%= f.fields_for :company_user_profiles do |builder| %>
            <%= render "company_user_profile_fields", :f => builder %>
        <% end %>
        <%= link_to_add_fields "Add Company", f, :company_user_profiles %>
        <%= f.submit 'I am done', :class => "button medium right" %>
      <% end %>
  </div>
</div>
