<%= form_for( (card || micro || link).high_fives.build(:user_id => current_user.id),
             remote: true, html: {style: "margin: 0px"}) do |f| %>
 <div>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :card_id %>
  <%= f.hidden_field :micro_id %>
 </div>
  <%= f.submit "high five!", :class => "small button" %>
<% end %>