<div class="twelve columns">
  <div class="panel micro" id="micro<%= micro.id %>">
    <div class="content head-font head-color">
      <p style="font-weight: normal;margin-bottom:0px;"></p>
      <a href="<%= micro_path(micro) %>"><%= micro.content %></a>
      <p class="high-five-count-container"><span class="high-five-count"><%= micro.high_fives.length %></span> High Fives&nbsp;&nbsp;<span class="view-count"><%= micro.view_count %></span> Views &nbsp;&nbsp;<span class="view-count"><%= micro.replies.length %></span> Replies</p>
    </div>
    <ul class="float-right-list action-list social">
      <li class="high_five_but">
        <% if current_user %>
          <% unless micro.high_fives.map(&:user_id).include?(current_user.id) %>
            <%= high_five_form(micro.id, "Micro", current_user.id) %>
          <% end %>
        <% else %>
          <%= link_to "high five!", "#", :class => "reveal-signin-modal", :"data-alert-msg" => "Please join to High Five!" %>
        <% end %>
      </li>

      <%= render :partial => "layouts/share", :locals => {:url => micro_url(micro), :description => micro.content, :title => "#{micro.user.full_name} created a Micro at WeAreIndiaTech", :type => "Micro", :track_id => micro.id} %>

      <li>
        <%= link_to "reply", micro_path(micro), :class => "small button tag" %>
      </li>
    </ul>
  </div>
</div>