<fieldset class="fields nest-form">
  <legend><%= f.object.new_record? ?  "New Project" : "Edit Project" %></legend>
  <%= link_to_remove_fields "x", f %>
	<%= f.label :name, "Project Name" %>
	<%= f.text_field :name %>

	<%= f.label :site_url, "Project Site Url" %>
	<%= f.text_field :site_url %>

	<%= f.label :repo_url, "Project Repository Url" %>
	<%= f.text_field :name %>

	<%= f.label :technology_list, "Technologies &nbsp;<div class='help-inline'>i.e. Ruby, PHP, Wordpress, Git, jQuery etc.</div>".html_safe %>
  <%= f.text_field :technology_list %>

  <%= f.label :description, "Project Description" %>
	<%= f.text_area :description, :rows => 10 %>

	<ul class="block-grid five-up photo-template">
	  <% f.object.photos.each do |photo| %>
	  	<li>
	  		<div class="photo_container remove" id="photo<%= photo.id %>">
			  	<div class="bg">
		        <div class="photo_thumb preview">
		          <%= image_tag photo.medium %>
		          <%= f.hidden_field :photo_ids, :multiple => true,:class=> "photo_ids", :value => photo.id %>
		        </div>
		      </div>
		      <p class="t_small add_photo"><a>Add photo</a></p>
		      <p class="t_small remove_photo">
		      	<%= link_to "Delete", photo_path(photo), :method => "delete", :remote => true  %>
		      	</p>
	    	</div>
    	</li>
	  <% end %>
	  <% (3 - (f.object.photos.length)).times do %>
	  	<li>
		  	<div class="photo_container free add" data-reveal-id	="fileuploadModal">
          <div class="bg">
            <div class="photo_thumb">
            	<%= f.hidden_field :photo_ids, :multiple => true,:class=> "photo_ids", :value => nil, :disable_with => "Deleting.." %>
            </div>
          </div>
          <p class="t_small add_photo"><a>Add photo</a></p>
          <p class="t_small remove_photo">
          	<%= link_to "Delete", "", :method => "delete", :remote => true, :disable_with => "Deleting.."  %>
          </p>
        </div>
    	</li>
	  <% end %>
	</ul><br />
</fieldset>