<div class="panel card project" id="project<%%= project.id %>">
  <div class="content">
    <p style="font-weight: normal;margin-bottom:0px;"></p>
    <h3 class="medium m-bottom5"><a href="<%= project.site_url %>" target="_blank" ><%= project.name %></a></h3>
    <article>
      <dl class="sub-nav skill-list m-bottom0">
        <dt class="m-bottom0">Technologies:</dt>
        <% project.technologies.each do |skill| %>
          <dd><a href="#" class="button small tag"><%= skill.name %></a></dd>
        <% end %>  
      </dl>
      <p class="grey m-bottom0">Website: <%= link_to project.site_url, project.site_url, :target => "_blank" %></p>
      <% if project.repo_url %>
        <p class="grey m-bottom0">Repository: <%= link_to project.repo_url, project.repo_url, :target => "_blank" %></p>
      <% end %>
    </article>
    <%= more_or_less(project.description, 200) %>
  </div>
  <ul class="block-grid three-up">
    <% project.photos.each do |photo| %>
      <li><%=link_to (image_tag photo.attachment.url(:medium), :size => 66),photo.attachment.url(:medium), :target => "_blank" ,:class => "image-block" %></li>
    <% end %>
  </ul>
</div>