<fieldset class="fields">
    <legend>Education</legend>
    <%= link_to_remove_fields "x", f %>
    <%= f.label :name, "School Name" %>
    <%= f.text_field :name, placeholder: "Indian Institute of Technology" %>
    <%= f.label :degree %>
    <%= f.text_field :degree, placeholder: "BE" %>
    <%= f.label :fileds, "Field(s) of study" %>
    <%= f.text_field :fileds, placeholder: "Computer Scince, Database, Web Development etc" %>
    <div class="row">
        <div class="columns two">
            <%= f.label :from, "From" %>
        </div>
        <div class="columns four">
            <%= f.date_select :from, start_year: 1970, :discard_day => true, :discard_month => true %>
        </div>
         <div class="columns two text-center">
            <%= f.label :to, "to" %>
        </div>
        <div class="columns four">
            <%= f.date_select :to, start_year: 1970, :discard_day => true, :discard_month => true %>
        </div>
    </div>
    <p></p>
</fieldset>