<%= content_for :js do %>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$("#sidebar-<%= params[:action] %> a").addClass("active")
		});
	</script>
<% end %>
<div class="three columns side-menu-container">
	<section class="side-menu">
		<% if current_user %>
		 <div class="name">
				<div><%=link_to (image_tag current_user.gravatar_url :size => 66), user_profile_path(current_user.username) , :class => "avatar"%></div>
				<div><%= link_to "@" << current_user.username, user_profile_path(current_user.username) %></div>
		</div>
		<% end %>
	  <ul class="side-nav">
	  	<li id="sidebar-followers"><a href="<%= followers_path %>"><%= current_user.followers_counter %> <span class="breelight italic">Followers</span></a></li>
	    <li id="sidebar-followings"><a href="<%= followings_path %>"><%= current_user.followed_counter %> <span class="breelight italic">Followings</span></a></li>
	    <li id="sidebar-notifications">
	    	<a href="<%= notifications_path %>">
	    		Notifications<%="<span class='badge'>#{current_user.notifications.unread.count}</span>".html_safe if current_user.notifications.unread.present? %></a></li>
	    <li id="sidebar-dashboard"><%= link_to "Dashboard", user_root_path %></li>
	    <li id="sidebar-feed"><%= link_to "Feed",feed_path %></li>
	    <li id="sidebar-add_project"><%= link_to "Add a project", user_add_project_path(:username => current_user.username) %></li>
	    <li id="sidebar-add_company"><%= link_to "Add a company", user_add_company_path(:username => current_user.username) %></li>
	    <li id="sidebar-edit"><%= link_to "Settings", user_edit_path(:username => current_user.username) %></li>
	    <li id="sidebar-deactivate"><a href="#">Deactivate your account</a></li>
	  </ul>
	</section>
</div>