<div class="three columns side-menu-container">
	<section class="side-menu">
		<% if @user %>
		 <div class="name">
				<div><%=link_to (image_tag @user.gravatar_url :size => 140), user_profile_path(@user.username) , :class => "card-avatar square big", :style => "float:right;position: static" %></div>
				<div><a href="http://www.sevenhits.com/easycore" class="user-link"><%= @user.username %></a></div>
		</div>
		<% end %>
	  <ul class="side-nav">
	    <li><a href="<%= user_followers_path(@user.username) %>"><span id="follower_count"><%= @user.followers_counter %></span> <span class="breelight italic">Followers</span></a></li>
	    <li><a href="<%= user_followings_path(@user.username) %>"><span id="followed_count"><%= @user.followed_counter %></span> <span class="breelight italic">Followings</span></a></li>
	    <li><a href"#"><%= @user.cards.count %> <span class="breelight italic">Cards</span></a></li>
	    <li><a href"#"><%= @user.links.count %> <span class="breelight italic">Links</span></a></li>
	  </ul>
	</section>
</div>