<%= form_for(current_user.relationships.find_by_followed_id(user),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Unfollow me", class: "alert radius button small dblock", :disable_with => "Unfollowing" %>
<% end %>