<div class="three columns">
  <ul class="side-nav">
    <li><%= link_to "Edit your profile",user_edit_path(current_user.username) %></li>
    <li><%= link_to "Add/Update projects",user_add_project_path(current_user.username) %></li>
    <li><a href="#">Section 3</a></li>
    <li><a href="#">Section 4</a></li>
    <li><a href="#">Section 5</a></li>
    <li><a href="#">Deactivate your account</a></li>
  </ul>
</div>