<div class="eleven columns left-border profile-status">
  <section>
    <h2 style="font-size: 35px"><%= user.full_name %></h2>
    <h1  style="font-size: 19px"><%= user.title %></h1>
    <article>
        <dl class="sub-nav skill-list">
          <dt class="m-bottom0">Skills:</dt>
          <% user.skills.each do |skill| %>
            <dd><a href="#" class="button small tag"><%= skill.name %></a></dd>
          <% end %>
          &nbsp;&nbsp; <%= link_to "edit", user_edit_path(user), :class => "red only-dashboard" %>
        </dl>
        <p style="color: #999;font-weight: normal;margin-bottom:0px;">Overview:</p>
        <p>
          <% if params[:action] == "dashboard" %>
            <%= truncate( user.bio, :length => 300, :separator => ' ', :omission => "..") %>
          &nbsp;&nbsp; <%= link_to "edit", user_edit_path(user), :class => "red" %>
          <% else %>
            <%= more_or_less(user.bio, 300) %>
          <% end %>
        </p>
    </article>
    <% if params[:username] %>
      <div id="follow-but<%= @user.id %>">
        <% if current_user && current_user != @user %>
          <% if current_user.following?(@user)%>
            <%= render :partial => 'unfollow', :locals => {:user => @user} %>
          <% else %>
            <%= render :partial => 'follow', :locals => {:user => @user} %>
          <% end %>
        <% else %>
          <%= render :partial => 'follow', :locals => {:user => @user} %>
        <% end %>
      </div>
    <% end %>
  </section>

  <% if @recent_notifications.present? %>
    <section class="relative">
      <%= link_to "Show all", notifications_path, :class => "red corner" %>
      <h3 class="subheader medium m-bottom5">Notifications:</h2>
      <div id="dashboard-notifications">
        <div class="row card-container">
            <%= render :partial => "notifications/notification", :collection => @recent_notifications  %>
        </div>
      </div>
    </section>
  <% end %>

  <section class="relative">
    <h3 class="subheader medium m-bottom5">Projects:</h2>
    <%= link_to "Add/Update Project", user_add_project_path(user.username), :class => "red corner only-dashboard" %>
    <%= render :partial => "project", :collection => user.projects, :locals => {:user => user} %>
  </section>

  <section class="relative">
    <h3 class="subheader medium m-bottom5">Companies:</h2>
    <%= link_to "Add company", user_add_company_path(user.username), :class => "red corner only-dashboard" %>
    <% if user.company_user_profiles.any? %>
      <% user.company_user_profiles.each do |company| %>
        <p class="m-bottom0"><span class="bold"><%= company.company_name.titleize %></span><span class="grey bold"> <%= company.title.titleize %></span><span class="grey"> from <%= company.work_from.strftime("%m %Y") %> to <%= company.formatted_work_till %></span></p>
        <p class="grey m-bottom0"><%= more_or_less(company.summary, 200) %> </p>
      <% end %>
    <% end %>
  </section>

  <section class="relative">
    <%= link_to "Add Education", user_edit_path(user), :class => "red corner only-dashboard" %>
    <h3 class="subheader medium m-bottom5">Education:</h2>
    <% if user.schools.any? %>
      <% user.schools.each do |school| %>
        <p class="m-bottom0"><span class="bold"><%= school.name.titleize %></span><span class="grey"> from <%= school.from.strftime("%Y") %> to <%= school.to.strftime("%Y") %></span></p>
        <p class="grey m-bottom0"><%= school.fields %> <%= school.degree %></p>
      <% end %>
    <% end %>
  </section>

  <section class="relative">
    <%= link_to "edit", user_edit_path(user), :class => "red corner only-dashboard" %>
    <h3 class="subheader medium m-bottom5">Job preferences:</h2>
        <p class="m-bottom0">
          <span class="bold">Availability</span><br />
          <span><%= User::AVAIL[user.job_availability] %></span>
        </p>
  </section>

  <br /><br />
  
  <section class="relative">
    <h3 class="subheader medium">Recent Feed:</h2>
    <%= link_to "Show All", feed_path, :class => "red corner" %>
    <br />
  </section>
</div>