<%= content_for :js do %>
<%= render :partial => "dashboard_templates.html.erb" %>
<% end %>
<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "sidebar_dashboard" %>
    <div class="six columns">

      <div class="row">
        <div class="columns one"></div>
        <%= render :partial => "user_profile", :locals => {:user => current_user} %>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div id="recent-feed-dashboard">
          </div>
          <a href="/feed" id="load_more_feed">Load More</a>
        </div>
      </div>        
    </div>
    <div class="three columns">
    </div>
  </div>
</div>
