<%= content_for :js do %>
<%= javascript_include_tag "jquery.tokeninput.js" %>
<script type="text/javascript">
$(function() {
	// $("#user_skill_list, .tokenize").tokenInput("/search_suggestions", {theme: "facebook"});
});
</script>

<% end %>
<%= content_for :head do %>
<%= stylesheet_link_tag "token-input.css" %>
<% end %>
<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "sidebar_dashboard" %>
		<%= render 'form_profile' %>
	</div>
</div>