<div class="twelve columns centered landing-container">
  <div class="row">
    <% if params[:username] %>
      <%= render "users/sidebar_profile" %>
    <% else %>
      <%= render "sidebar_dashboard" %>
    <% end %>
    <div class="six columns">
      <div class="row">
        <div class="twelve columns" id="feed-dashboard">
          <%= render :partial => "following", :collection => @followings  %>
        </div>
      </div>
       <%= link_to "Load More", params[:username] ? user_followings_path(:page => 2) : followings_path(:page => 2), :remote => true, :disable_with => "Loading..", :id => "load_more_followings" %>
    </div>
    <div class="three columns">
    </div>
  </div>
</div>