$("#feed-dashboard").append("<%= escape_javascript(render :partial => 'following', :collection => @followings)  %>")
<% if @followings.total_pages > params[:page].to_i %>
$("#load_more_followings").attr('href', $("#load_more_followings").attr('href').replace(/page=\d+/, "page=" + "<%= params[:page].to_i + 1%>"))
<% else %>
$("#load_more_followings").remove();
<% end %>