$("#feed-dashboard").append("<%= escape_javascript(render :partial => 'follower', :collection => @followers)  %>")
<% if @followers.total_pages > params[:page].to_i %>
$("#load_more_followers").attr('href', $("#load_more_followers").attr('href').replace(/page=\d+/, "page=" + "<%= params[:page].to_i + 1%>"))
<% else %>
$("#load_more_followers").remove();
<% end %>