<% if @micros %>
	$("#mymicrosTab #feed-dashboard").append('<%= escape_javascript render(:partial => "micro", :collection => @micros, :locals => {:profile => true}) %>')
	<% if @micros.total_pages <= params[:page].to_i %>
		$("#mymicrosTab #load_more_feed").remove()
	<% else %>
		$("#mymicrosTab #load_more_feed").attr('href', '<%= goodies_path("micro", :page => (params[:page].to_i + 1 ), :username =>  @user.username ) %>')
	<% end %>
<% elsif @cards %>
	$("#mycardsTab #feed-dashboard").append('<%= escape_javascript render(:partial => "card", :collection => @cards, :locals => {:profile => true}) %>')
	<% if @cards.total_pages <= params[:page].to_i %>
		$("#mycardsTab #load_more_feed").remove()
	<% else %>
		$("#mycardsTab #load_more_feed").attr('href', '<%= goodies_path("card", :page => ( params[:page].to_i + 1), :username =>  @user.username ) %>')
	<% end %>
<% elsif @links %>
	$("#mylinksTab #feed-dashboard").append('<%= escape_javascript render(:partial => "link", :collection => @links, :locals => {:profile => true}) %>')
	<% if @cards.total_pages <= params[:page].to_i %>
		$("#mylinksTab #load_more_feed").remove();
	<% else %>
		$("#mylinksTab #load_more_feed").attr('href', '<%= goodies_path("link", :page => (params[:page].to_i + 1), :username =>  @user.username ) %>')
	<% end %>
<% end %>