<style type="text/css">
  .only-dashboard{
    display: none;
  }
</style>

<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "users/sidebar_profile" %>

    <div class="six columns">
      <div class="row">
        <div class="one columns"></div>
        <%= render :partial => "user_profile", :locals => {:user => @user} %>
      </div>

      <div class="row">
        <div class="one columns"></div>
        <div class="eleven columns left-border profile-status">
          <div id="user-activity-feed-container">
            <dl class="tabs">
              <dd class="active"><a href="#mycards">Cards</a></dd>
              <dd><a href="#mymicros">Micros</a></dd>
              <dd><a href="#mylinks">Links</a></dd>
            </dl>
            <ul class="tabs-content">
              <li class="row" id="mylinksTab">
                <div id="feed-dashboard"  class="card-container">
                <%= render :partial => "link", :collection => @links, :locals => {:profile => true}  %>
                </div>
                <%= link_to "Load More", goodies_path("link" ,:page => 2, :username => @user.username), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
              </li>
              <li class="row" id="mymicrosTab">
                <div id="feed-dashboard"  class="card-container">
                <%= render :partial => "micro", :collection => @micros, :locals => {:profile => true}  %>
                </div>
                <%= link_to "Load More", goodies_path("micro" ,:page => 2, :username => @user.username), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
              </li>
              <li class="row active" id="mycardsTab">
                <div id="feed-dashboard" class="card-container">
                <%= render :partial => "card", :collection => @cards, :locals => {:profile => true}  %>
                </div>
                <%= link_to "Load More", goodies_path("card" ,:page => 2, :username => @user.username), :remote => true, :disable_with => "Loading..", :id => "load_more_feed" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>     
    
    <div class="three columns">
        <h3><a href"#" class="red"><%= @user.followers_counter %> Followers</a></h3>
        <dl class="sub-nav" style="max-width: 230px">
          <% @user.followers.limit(9).each do |follower| %>
            <dd><%=link_to (image_tag follower.gravatar_url :size => 66), user_profile_path(follower.username) , :class => "card-avatar small square"%></dd>
          <% end %>
        </dl>

      <section>
        <h3><a href"#" class="red"><%= @user.followed_counter %> Followings</a></h3>
        <dl class="sub-nav" style="max-width: 230px">
          <% @user.followed_users.limit(9).each do |following| %>
            <dd><%=link_to (image_tag following.gravatar_url :size => 66), user_profile_path(following.username) , :class => "card-avatar small square"%></dd>
          <% end %>
        </dl>
      </section>
    </div>

  </div>
</div>