<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "users/sidebar_dashboard" %>
    <div class="six columns" style="padding-top: 26px;margin-bottom: 25px;">
      <%= render 'form_company' %>     
    </div>
    <div class="three columns">
    </div>
  </div>
</div>