<div class="three columns" id="left-sidebar">
  <h2 class="small red">We are what we love</h2>

  <h1 class="very_small">"WeAreIndiaTech A place for geeks to share what they've done, who they did it with and connect with great companies and communities"</h1>
  <div class="left-border"></div>
</div>

<div class="five columns" id="left-border page-content">
</div>

<div class="three columns" id="right-sidebard">
  <div class="panel"><h2>This is an add</h2></div>
  <div class="panel"><h2>This is an add</h2></div>
  <div class="panel"><h2>This is an add</h2></div>
</div>
<%#= render :partial => "users/featured", :locals => {:featured => @featured} %>

      <!-- End Header Content -->


      <!-- Search Bar -->
<!-- <div class="row">
  <div class="ten columns centered">

    <div class="row">

      <div class="twelve columns">
        <div class="radius panel">

        <form>
          <div class="row collapse">

            <div class="ten mobile-three columns">
              <input type="text" />
            </div>

            <div class="two mobile-one columns">
              <a href="#" class="postfix button expand">Search</a>
            </div>

          </div>
        </form>

      </div>
      </div>

    </div>
  </div>
</div>
 -->
      <!-- End Search Bar -->


      <!-- Thumbnails -->
<!-- <div class="row">
  <div class="ten columns centered">

    <div class="row">

      <div class="twelve show-for-small columns">
        	<h3>Top Users This Week</h3><hr>
      </div>

      <%# @users.each do |user| %>
      	<div class="three mobile-two columns">
	        <%#= image_tag user.gravatar_url :size => 400%>
	        <div class="panel hide-for-small">
	          <p><%#= truncate(user.title, :length => 36, :omission => '..') %></p>
	        </div>
	        <div class="panel show-for-small">
        		<p><%#= truncate(user.title, :length => 20, :omission => '..') %></p>
      		</div>
      	</div>
      <%# end %>
    </div>
  </div> -->
</div>

      <!-- End Thumbnails -->