<% if @lc.errors.any? %>
	var errors = <% @lc.errors.full_messages.each_with_index do |msg, i| %>"<%= msg %>"<% end %>
	$("#linkCatModal .alert").remove();
	$("#linkCatModal").prepend("<div class='alert alert-box s-alert'>" + errors + "<a href='' class='close'>&times;</a></div>")
<% else %>
	$("#linkModal #link_link_category_id").ddslick('destroy');
	$("#linkModal #link_link_category_id").prepend("<option selected='selected' value='<%= @lc.id %>'><%= @lc.title %></option>");
	$("select#link_link_category_id").ddslick({
    onSelected: function(selectedData){
      if(selectedData.selectedData.text == "Add New"){
        $("input#link_link_category_id").val("");
        $("#linkCatModal").reveal();
      }else{
        $("input#link_link_category_id").val(selectedData.selectedData.value);
      }
    },
    width: 200 
  });
  $("#linkCatModal form")[0].reset();
	$("#linkModal").reveal();
<% end %>