<div class="twelve columns">

  <div class="title date">
    <a herf="<%= user_profile_path(link.user.username) %>" class="card-avatar square small">
      <img alt="gravatar <%= link.user.username %>" src="<%= link.user.gravatar_url(default: 'identicon', size: 90) %>">
    </a>    
    <!-- <abbr class="grey timeago" title="<%%= activity.hours_ago %>"></abbr> -->
  </div>

  <div class="panel link" id="link<%= link.id %>">
    <div class="content head-font head-color">
      <p style="font-weight: normal;margin-bottom:0px;"></p>
      <a href="<%= link_path(link) %>" ><%= link.description %></a>
      <p class="high-five-count-container"><span class="high-five-count"><%= link.high_fives.length %></span> High Fives&nbsp;&nbsp;<span class="view-count"><%= link.view_count %></span> Views</p>
    </div>
    <ul class="float-right-list action-list">
      <li class="high_five_but">
        <% if current_user %>
          <% unless link.high_fives.map(&:user_id).include?(current_user.id) %>
            <%= high_five_form(link.id, "Link", current_user.id) %>
          <% end %>
        <% else %>
          <%= link_to "high five!", "#", :class => "reveal-signin-modal", :"data-alert-msg" => "Please join to High Five!" %>
        <% end %>
      </li>

      <%= render :partial => "layouts/share", :locals => {:url => link_url(link), :description => link.description, :title => link.title.present? ? link.title : "#{link.user.full_name} created a Link at WeAreIndiaTech", :type => "Link", :track_id => link.id} %>
      <li>
        <%= link_to "view",link.link, :class => "small button tag", :target => "_blank" %>
      </li>
    </ul>
  </div>
</div>