<% if @link.errors.any? %>

	var errors = '<%= escape_javascript (@link.errors.full_messages.map { |msg|  msg + "<br /><br />"}.join("").html_safe) %>'
	$("#linkModal .alert").remove();
	$("#linkModal").prepend("<div class='alert alert-box s-alert'>" + errors + "<a href='' class='close'>&times;</a></div>")
<% else %>
	$("#linkModal").trigger('reveal:close');
<% end %>