var container = $(".photo_container.processing");
container.removeClass("active").removeClass("processing").removeClass('add').addClass("remove").find(".photo_thumb").append('<%= escape_javascript(image_tag @photo.attachment.url) %>')
container.find("input.photo_ids").val('<%= @photo.id %>');
container.find(".remove_photo a").attr('href', "/photos/<%= @photo.id %>")
container.attr("id", "photo<%= @photo.id %>")