var container = $("#photo<%= @photo.id %>")
container.addClass('add').removeClass('remove');
container.find("input.photo_ids").val(false);
container.find(".remove_photo a").attr('href', "");
container.find('img').remove();