<% if @card.errors.any? %>
	var errors = <% @card.errors.full_messages.each_with_index do |msg, i| %>"<%= msg %>" + "<br /><br />"<% end %>
	$("#cardModal .alert").remove();
	$("#cardModal").prepend("<div class='alert alert-box s-alert'>" + errors + "<a href='' class='close'>&times;</a></div>")
<% else %>
	$("#cardModal").trigger('reveal:close');
<% end %>