<div class="twelve columns centered landing-container">
  <div class="row">
    <%= render "users/sidebar_profile" %>

    <div class="six columns">
      <div class="row">
        <div class="twelve columns">
          <div class="left-border profile-status">
            <h2 class="hide-for-small" style="font-size: 35px"><%= @user.full_name %></h2>
            <h1 class="hide-for-small" style="font-size: 19px"><%= @user.title %></h1>
             <article>
                <dl class="sub-nav skill-list">
                  <dt>Skills:</dt>
                  <% @user.skills.each do |skill| %>
                    <dd><a href="#" class="button small tag"><%= skill.name %></a></dd>
                  <% end %>
                </dl>
              </article>
              <div id="follow-but">
                <%= link_to "Vew Profile", user_profile_path(:username => @user.username), :class => "radius alert button medium dblock" %>
              </div>
            <div class="row card-container" id="feed-dashboard">
              <%= render :partial => "card", :locals => {:profile => true, :card => @card}  %>
            </div>
          </div>
        </div>
      </div>     
    </div>

    <div class="three columns">
    </div>

  </div>
</div>