<% if @high_five.errors.any? %>
	<%= flash[:error] = "Opps! Could not High Five" %>
	window.location = window.location.href.split('#')[0]
<% else %>
	$("#<%= @high_five.resource_type.downcase + @high_five.resource_id.to_s %>").find(".high_five_but").html("")
	$("#<%= @high_five.resource_type.downcase + @high_five.resource_id.to_s %>").find(".high-five-count").html('<%= @high_five.resource.high_fives.count %>')
<% end %>