$("#card<%= @high_five.card.id %> .high_five_but").html("<%= escape_javascript(render( partial: 'users/high_five_but', locals: {card: @high_five.card})) %>")
$("#card<%= @high_five.card.id %> .high-five-count").html('<%= @high_five.card.high_fives.count %>')