$red-bar: 	#DF371E;
$red-text: #DF371E;
$almost-black: #39393F;
$body-grey: #E7E7E8;
$midnight-blak: #262126;
$body-grey-dark: #E7E7E7;
$useIEFilters: 1;
$homeTileOne: #D3DCDF;
$homeTileTwo: #121212;
$redFont: #DF371E;
$greyText: #8C9197;
$bodyFont: 'museo_sans',Helvetica,Arial,sans-serif;
$headFont: 'breeregular', serif;
$headColor: #15333A;
$breeLight: 'breelight', serif; 
$mainTextColor: #16343B;

@mixin draw-border($left: 0px, $right: 0px, $top: 0px, $bottom: 0px, $color: #CCCCCC, $type: solid) {

border-left: $left $type $color;
border-right: $right $type $color;
border-top: $top $type $color;
border-bottom: $bottom $type $color;
  
}

@import "foundation_and_overrides";

a{
	color: $mainTextColor;
	&:hover{
		color: $redFont;
		text-decoration: underline;
	}
}

.m-bottom5{
	margin-bottom: 5px !important;
}

.m-bottom0{
	margin-bottom: 0px !important;
}

.subheader{
	color: $mainTextColor;
}

.relative{
	position: relative;
}

.corner{
	top: 10px;
	right: 10px;
	position: absolute;
}
.reveal-modal{
	@include border-radius(4px);
	@include background-image(linear-gradient(white, #F5F6F7));
}

a.active {
	color: $redFont;
	text-decoration: underline;
}

a.head{
	&:hover{
		color: #C33333;
	}
}

body{
	background: #FAFBFC image-url("page_bg.png") 0 0 repeat;
}

.panel{
	background: #F9FAFA;
}

.invisible{
	visibility: hidden;
}

.text-center{
	text-align: center;
}



.button.round{
	@include border-radius(10px, 10px);
}

h1, h2,h3,h4,h5{
	font-weight: normal;
}
h1{
	font-size: 36px;
}

h1.small{
	font-size: 27px;
}

h1.very_small{
	font-size: 20px;
}
h2{
	font-size: 27px;
}

h2.big{
	font-size: 36px;
}

h2.small{
	font-size: 20px;
}

h3, h4{
	font-size: 18px;
}

h3.medium{
	font-size: 20px;
}

h3.big{
	font-size: 22px;
}

.red{
	color: $redFont !important; 
}

.italic{
	font-style: italic;
}

.head-font{
	font-family: $headFont;
}

.breelight{
	font-family: $breeLight;
}

.head-color{
	color: $headColor;
}

.bold{
	font-weight: bold !important
}

.bolder{
	font-weight: bolder !important
}

.tabs{
	color: $headColor;
	font-family: $headFont;

	dd.active{
		border-top: 3px solid $redFont;
		a{
			background: transparent;
			color: $redFont;
			font-family: $headFont;
			font-weight: normal;
			text-decoration: underline;
		}
	}

	dd{
		a{
			color: $headColor;
			font-family: $headFont;
			&:hover{
				color: $redFont;
			}
			&:active{
				color: $redFont;
			}
		}
	}

}

// .dashboard.tabs{
// 	border-bottom: 0;
// 	dd.active{
// 		border: 0;
// 		// border-top: 4px solid $redFont;
// 		a{
// 			border: 0;g
// 			background: transparent;
// 			color: $redFont;
// 			font-family: $headFont;
// 			font-weight: normal;
// 			text-decoration: underline;
// 		}
// 	}
// }


.button.dblock{
	display: block;
	font-size: 19px;
}

.less-text{
	display: block;
}

.fields{
	position: relative;
	.close{
		position: absolute;
		right: 7px;
		top: 13px;
	}
}

.more-text{
	display: none;
}

.mcenter{
	margin-left: auto;
	margin-right: auto;
}

.ithumb{
	width: 70px;
	height: 70px;
}

.panel.funky-panel{
	background: white;
	@include border-radius(6px, 6px);
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #DBDBDB;
	padding: 10px;
}

.subnav-dt{
	color: #999;
	font-weight: normal;
	margin-bottom:0px;
	font-size: 16px;
}

.subnav-dt-h{
	color: #999;
	font-weight: normal;
	margin-bottom:10px;
	font-size: 19px;
}

.row.no-margin-row{
	margin: 0px;
}

.main-container{
	background: white !important;
	margin-top: 25px !important;
	@include border-radius(4px, 4px);
	
	@include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 1px, 2px );
}
fieldset{
	padding: 16px 16px 0;
}

.row#main-nav{
	@include box-shadow();
	@include background-image(linear-gradient(white, #F1F1F1));
}

.top-bar ul > li a:not(.button){
	color: $mainTextColor !important;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active{
	background: transparent;
}

.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a {
	color: $redFont !important;
}

.top-bar ul > li.name {
	background: white !important;
}

.top-bar ul > li.toggle-topbar a {
	border-color: $mainTextColor transparent transparent transparent;
}
.top-bar.expanded ul li.toggle-topbar a {
	border-color: transparent transparent $mainTextColor transparent;
}

#main-nav-new{
	background: white;
	border-top: 4px solid #C33333;
	background: white;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.27),0 0 40px rgba(0,0,0,0.06) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),0 0 40px rgba(0, 0, 0, 0.06) inset;

	.top-bar{
		background: white;
		h1{
			font-size: 30px;
		}
	}
	.header-search{
		margin-top: 16px;
		margin-bottom: 16px;
		input{
			padding: 18px 18px 18px;
		}
	}
	.header-button{
		margin-top: 16px;
		margin-bottom: 16px;
		input{
			padding: 10px 25px;
		}
	}
}



#left-sidebar{
	min-height: 10px;
	position: relative;
	.left-border{
		background: #E2E5E7;
		opacity: 0.8;
		position: absolute;
		right: 0;
		height: 100%;
		width: 4px;
		top: 0;
	}
}

#top-container{
	margin-top: 15px; 
	margin-bottom: 40px;
}

.row.featured{
}

.help-block{
	display: block;
}

.help-inline{
	display: inline;
}

.help-inline, .help-block {
	font-size: 12px;
	line-height: 18px;
	color: #BFBFBF;
}

.top-bar.with-left-cut-border{
	margin: 0 0 4px;
	border-bottom: 3em solid $red-bar;
	border-left: 2em solid transparent;
	height: 0px;
	background: transparent;
	li{
		&:hover{
			background: $red-bar !important;
		}
	}
	li.has-dropdown{
		.dropdown{
			background: $red-bar;
			li{
				background: $red-bar;
				a:hover{
					background: #21809C;
				}
			}
		}
	}
}

.grey-link{
	color: #6F6F6F;
}

.right-cut-label{
	border-top: 2.5em solid #474747;
	border-right: 2.1em solid transparent;
	padding-left: 1.5em;
	min-width: 280px;
	h3{
		font-size: 1.8em;
		color: #DADADA;
		margin-top: -1.3em;
		white-space: nowrap;
		font-weight: 300;
	}
}

.nav-bar.inside-header{
	background: transparent;
	color: $almost-black;
	font-weight: bold;
	li{
		border: none;
		a{
			color: $almost-black;
		}
	}
	li.active{
		background: transparent;
		a{
			color: $red-bar;
		}
	}
	li:hover{
		background: transparent;
		a{
			color: $red-bar;
		}
	}
}



.fields.nest-form{
	@include clearfix();
	a.remove{
		float: right;
	}
}

.float-left-list{
	@include clearfix();
	li{
		float: left;
		list-style-type: none;
		padding-right: 10px;
	}
}

.float-right-list{
	@include clearfix();
	li{
		float: right;
		list-style-type: none;
		padding-right: 10px;
	}
}

.card-avatar.square{
		display: block;
		border: 2px solid white;
		border-radius: 5px;
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
		background: white;
		img{
			display: block;
			border-radius: 3px;
		}
		position: absolute;
		left: -33px;
		z-index: 10;
		top: -25px;
}

.card-avatar.square.small{
	width: 66px;
	height: 70px;
	img{
		width: 66px;
		height: 66px;
	}
}

.left-border{
	border-left: 4px solid #E2E5E7;
}

.profile-status{
	padding: 15px;
	position: relative;
	#follow-but{
		position: absolute;
		top: 33px;
		right: 20px;
	}
}

dd .card-avatar{
	position: static !important;

}

.card-avatar.square.big{
	width: 140px;
	height:144px;
	img{
		width: 140px;
		height: 140px;
	}
}

.image-block{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	background: white;
	padding: 2px;
	@include border-radius(5px);
	img{
		@include border-radius(5px);
	}
}

.card-avatar.round.big{
		z-index: 10;
		position: absolute;
		right: 5px;
		display: block;
		width: 100px;
		height: 100px;
		border: 5px solid white;
		@include border-radius(50%);
		box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
		background: white;
		img{
			display: block;
			width: 90px;
			height: 90px;
			@include border-radius(50%);
		}
	}
.profile-image{
	position: relative;
}

.grey{
	color:  $greyText;
}

#follow_form{
	@include clearfix();
	input{
		float: left;
	}
}

#feed-dashboard{
	.panel{
		padding-top: 20px;
		margin: 15px;
		padding-right: 15px;
	}
	.panel.micro{
		padding: 0px !important;
	}
}


.card-container{
	.date{
		font-family: $headFont;
		color: $greyText;
		background: image-url("line-dotted-horizontal.png") repeat-x left center;
		text-align: right;
		font-size: 13px;
		color: #8C9197;
		font-style: italic;
	}

	.panel{
		margin-bottom: 35px;
		padding: 0px 0px 0px 30px;
		line-height: 1.2;
		.content{
			font-size: 28px;
			font-family: $headFont;
		}
		.action-list{
			padding-bottom: 15px;
			padding-top: 0px;
		}
		.high-five-count-container{
			color: $redFont;
		}
	}
}

.panel.notification{
	margin-bottom: 15px;
	line-height: 1.2;
	margin-top: 15px;
	padding: 13px;
	a.close{
		position: absolute;
		right: 25px;
		top: 32px;
		font-size: 17px;
		display: none;
		&:hover{
			text-decoration: none;
		}
	}
	&:hover{
		a.close{
			display: block;
		}
	}
	.content{
		font-size: 17px;
		a{
			color: $redFont;
		}
	}
}
.panel.card{
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
		background: rgba(255, 255, 255, .9);
		@include border-radius(14px);
		margin-top: 20px;
		h4{
			div{
				font-size: 25px;
			}
			div.head-start{
				font-size: 90px;
			}
		}
	}

.panel.link{
	border: 1px solid #E2E4E7;
	@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
	@include border-radius(14px);
	background: rgba(214, 221, 227, .2);
	margin-top: 20px;
}

.panel.micro{
	border: 0px;
	background: transparent;
}

//micro on dashboard
.panel.micro{
	margin: 0px;
	margin-top: 5px;
}

.head-start{
	float: left;
	color: #C4C6C6;
	display: inline-block;
	font-size: 100px;
	font-family: 'Lucida Grande', Verdana, helvetica, sans-serif;
	font-style: normal;
	width: 50px;
	@include text-shadow(1px 1px 0 white);
	text-align: right;
	margin-top: -31px;
	margin-right: 5px;
	height: 80px;
}

.side-menu-container{
	font-family: $headFont;
	color: $headColor;
	text-align: right;
	a{
			&:hover{
				color: $redFont;
				text-decoration: underline;
			}
			&:active{
				color: $redFont;
				text-decoration: underline;
			}
		}
}

.side-menu{
	float: right;
	width: 170px;
	text-align: right;
	.name{
		a{
			font-size: 18px;
			display: block;
		}
		div{
			@include clearfix();
			padding-bottom: 18px;
		}
		border-bottom: 1px solid #DBDEE1;
	}
	.avatar{
		float: right;
		display: block;
		width: 66px;
		height: 70px;
		border: 2px solid white;
		border-radius: 5px;
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
		background: white;
		img{
			display: block;
			width: 66px;
			height: 66px;
			border-radius: 3px;
		}
	}
	ul.side-nav{
		padding: 0px;
		li{
			font-size: 17px;
			padding: 8px 0;
			border-bottom: 1px solid #DBDEE1;
		}
	}
}


@import "users";
@import "structure";