footer#footer{
	background: white image-url('bg-footer.png') repeat-x;
	position: fixed;
	bottom: -3px;
	z-index: 34;
	width: 100%;
	.content{
		padding-top: 15px;
		ul.link-list{
			margin: 0 0 0px -22px;
		}
		.columns, .column{
			float: left !important;
		}
	}
	ul.soical{
		margin: 0px;
	}

}



.social{
	margin: 0px;
 .icon{
		width: 22px;
		height: 22px;
		color: transparent;
		display: block;
	}
	li{
		width: auto;
	}
}
.icon.fb{
	background: white image-url('icon-fb.png') no-repeat;
	&:hover{
		background-position-y: -22px
	}
}

.icon.pinterest{
	background: image-url('icon-pinterest.png') no-repeat;
	&:hover{
		background-position-y: -22px
	}
}

.icon.linkedin{
	background: image-url('icon-in.png') no-repeat;
	&:hover{
		background-position-y: -22px
	}
}

.icon.mail{
	width: 28px !important;
	background: image-url('icon-mail.png') no-repeat;
	&:hover{
		background-position-y: -22px
	}
}

.icon.twitter{
	background: image-url('icon-twitter.png') no-repeat;
	&:hover{
		background-position-y: -22px
	}
}