
dl.skill-list{
	dd{
		margin-bottom: 4px;
		a{
			background: #EBEBEB;
			padding: 1px 7px;
			color: #787878;
			border-radius: 3px;
			font-size: 14px;
			&:hover{
				background: $secondaryColor;
				color: white;
			}
		}
	}
}

.profile-sidebar{
	@include draw-border(1px, 0px, 0px, 0px)
}

.columns.landing-container{
	margin-top: 25px;
	margin-bottom: 25px;

	.tellers{
		margin: 15px auto;
		text-transform: uppercase;
		font-weight: bold;
		li{
			background: #F9FAFA;
			padding: 20px;
			text-align: center;
			border-top: solid 1px #E6E6E6;
			border-bottom: solid 1px #E6E6E6;
			label{
				font-weight: bold;
				font-size: 13px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		span{
			font-size: 24px;
			font-weight: bold;
			color: black
		}
		li.first{
			@include border-radius(8px 0px 0px 8px);
			margin-left: 50px;
			border-left: solid 1px #E6E6E6;
		}
		li.last{
			@include border-radius(0px 8px 8px 0px);
			border-right: solid 1px #E6E6E6;
		}
		li.list-divider{
			border-right: solid 1px #E6E6E6;
			height: 80px;
			margin: 12px 0px;
			padding: 0px;
		}
	}

	// Card on the dashboard finishes here
}

.fields.company{
	select{
		width: 48%;
	}
}


.photo_container{
  float: left;
  margin: 15px 0 0 21px;
  width: 73px;
  height: 63px;
  text-align: center;
  &.add:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .bg{
    border: 1px solid #CCCCCC;
    width: 75px;
    height: 50px;
    @include background-image(linear-gradient(#F0F1F2, #FFFFFF, #F0F1F2));
    @include box-shadow(inset 1px -1px 0 white);
    @include border-radius(3px);
  }
  .photo_thumb{
    background: transparent image-url("sprite_create.png") no-repeat 10px -500px; background: transparent url("http://mytime.com/assets/sprite_create.png") no-repeat 10px -500px;
    width: 75px;
    height: 50px;
  }
  p{
    margin-top: 2px;
  }
  .add:hover{
    cursor: pointer;
  }
  &.remove{
  	.add_photo{
  		display: none !important
  	}
  }
  &.add{
  	.remove_photo{
  		display: none !important
  	}
  }
}

#dashboard-notifications{
	.title.date{
		display: none;
	}
	.panel.notification{
		margin-top: 0px;
		a.close{
			top: 5px;
		}
	}
	.left-border{
		border: 0;
	}
}

.project.panel{
	font-size: 17px;
}
