


      <!-- Footer -->

  <footer id="footer" >
    <div class="row">
    <div class="twelve columns content">
        <div class="row">
          <div class="one column hide-for-small"></div>

          <div class="five columns" id="social-copyright">
              <p>&copy; Copyright no one at all. Go to town.</p>
          </div>

          <div class="five columns" id="social-footer">
              <ul class="link-list right social">
                <li><p>Follow us on</p></li>
                <li><a href="https://www.facebook.com/" class="icon fb">IndiaTech on Facebook</a></li>
                <li><a href="https://twitter.com/" class="icon twitter">IndiaTech on Twitter</a></li>
                <li><a href="http://pinterest.com/" class="icon pinterest">IndiaTech on Pinterest</a></li>
                <li><a href="mailto:enquiry@weareindiatech.com" class="icon mail">IndiaTech on mail</a></li>
                <!-- <li><a href="https://www.youtube.com/" class="icon youtube">IndiaTech on Youtube</a></li> -->
              </ul>
          </div>

          <div class="one column hide-for-small"></div>
        </div>
    </div>
  </div>
  </footer>

      <!-- End Footer -->