<header id="main-nav-new">
	<div class="row">
  	<div class="ten centered columns">
			<nav class="top-bar shadow">
			  <ul>
			    <li class="name"><h1><a class="red" href="<%= root_path %>">WeAreIndiaTech</a></h1></li>
			    <li class="toggle-topbar"><a href="#"></a></li>
			  </ul>
			  <section>
			    <ul class="left">
			      <li><a href="#">Link</a></li>
			    </ul>

			    <ul class="right">
			    	<% if !current_user %>
				    	<li><a href="/users/sign_in" id="header-sign-in">About</a></li>
				      <li><a href="/users/sign_in" id="header-sign-in">Join</a></li>
				    <% else %>
				    	<li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
			      <% end %>
			    </ul>
			  </section>
			</nav>
		</div>
	</div>
</header>

<!-- <header> -->

	<!-- <div class="row" id="main-nav-new">
		<div class="twelve columns shadow">
			<div class="row">
				<div class="two columns"></div>


				<div class="two columns">
					
				</div>

				<div class="four columns">
					<form>
	          <div class="row collapse">
	            <div class="twelve columns header-search">
	              
	            </div>
	          </div>
	  			</form>
  			</div>

  			<div class="two columns">
					<p><a href="/users/sign_in" id="header-sign-in">Join</a></p>
				</div>


				<div class="two columns"></div>
			</div>
		</div>
	</div>
</header> -->




<!-- <div class="row" id="main-nav">
	<div class="three columns offset-by-one">
		<a href="/"><img src="https://d1uycljvtt30eq.cloudfront.net/20120425-1/images/masterbranch_logo.png" id="logo" class="retina retina-off"></a>
	</div>
	<div class="eight columns" id="header-right" style="padding-right:0">
		<div class="bg">
			<nav class="top-bar with-left-cut-border">
			  <section>
			    <ul class="left">
			    	<% if !current_user %>
			      <li class="has-dropdown">
			      	<a href="#">Join</a>
			      	<ul class="dropdown">
        				<li><a href="/users/sign_in" id="header-sign-in">Existing User</a></li>
        				<li><a href="/users/sign_up" id="header-sign-up">New User</a></li>
      				</ul>
			      </li>
			      <% else %>
			     <li class="has-dropdown">
			      	<a href="#">Welcome!<%= "  " + (current_user.first_name || current_user.username) %></a>
			      	<ul class="dropdown">
        				<li><a href="#">Profile</a></li>
        				<li><a href="#">Cards</a></li>
        				<li><a href="#">Links</a></li>
        				<li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
      				</ul>
			      </li>
			      <% end %>
			    </ul>
			    <ul class="right">
			      	<% if current_user %>
			      		<li><a href="#" data-modal-id="#microModal" class="action-post micro" id="header-post-micro">Post a Micro</a></li>
			      		<li><a href="#" data-modal-id="#linkModal" class="action-post link" id="header-post-link">Post a Link</a></li>
			      		<li><a href="#" data-modal-id="#cardModal" class="action-post card" id="header-post-link">Post a Card</a></li>
			      	<% else %>
			      		<li><a href="#" data-alert-msg="Please join to post a micro." class="reveal-signin-modal" id="header-post-micro">Post a Micro</a></li>
			      		<li><a href="#" data-alert-msg="Please join to post a link." class="reveal-signin-modal" id="header-post link">Post a Link</a></li>
			      		<li><a href="#" data-alert-msg="Please join to post a card." class="reveal-signin-modal" id="header-post-link">Post a Card</a></li>
			      	<% end %>
			    </ul>
			  </section>
			</nav>
		</div>
    
     <ul class="nav-bar inside-header">
    	<li class="active" id="home"><a href="#">Home</a></li>
		  <li><a href="#">Nav Item 1</a></li>
		  <li>
		    <a href="#">Nav Item 2</a>
		    <a href="#" class="flyout-toggle"><span> </span></a>
		  </li>
		  <li>
		    <a href="#">Nav Item 3</a>
		    <a href="#" class="flyout-toggle"><span> </span></a>
		  </li>
		  <li>
		    <a href="#">Nav Item 4</a>
		    <a href="#" class="flyout-toggle"><span> </span></a>
		  </li>
		</ul> 

	</div>
</div> -->