<div id="fileuploadModal" class="reveal-modal medium">
  <div>
    <%= form_for Photo.new, :html => {:multipart => true, :id => "fileupload" }  do |f| %>
      <div id="upload_dialog">
        <div class="dialog_close"></div>
        <h3 class="title">Upload a photo</h3>
        <p class="padd">Select the photo you want to upload:</p>
        <%= f.file_field :attachment, :size => 1 %>
      </div>
    <% end %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>