<div id="microModal" class="reveal-modal medium">
  <h4>Post a micro</h4>

  <%= form_for Micro.new, :remote => true do |f| %>

    <div><%= f.label :content, "What's up" %><br />
  	<%= f.text_area :content, {:rows => 3, :cols => 4, :length => 140} %></div>
  	<%= f.hidden_field(:user_id , {:value => current_user.try(:id)})  %>
    <div><%= f.submit "Send", :class => "button small", :disable_with => "Sending.." %></div>
  <% end %>

   <a class="close-reveal-modal">&#215;</a>
</div>
