<%= content_for :js do %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("select#link_link_category_id").ddslick({
      onSelected: function(selectedData){
        // if(selectedData.selectedData.text == "Add New"){
        //   $("input#link_link_category_id").val("");
        //   $("#linkCatModal").reveal();
        // }else{
        //   $("input#link_link_category_id").val(selectedData.selectedData.value);
        // }
      },
      width: 200 
    });
  });
  
</script>
<% end %>
<div id="linkCatModal" class="reveal-modal medium">
  <h4>Create a Category</h4>
    <%= form_for LinkCategory.new, :remote => true do |f| %>
      <%= f.hidden_field :user_id, {:value => current_user.id } %>
      <div><%= f.label :title %><br />
    <%= f.text_field :title %></div>
     <div><%= f.submit "Create", :class => "button small", :disable_with => "Creating.." %></div>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="linkModal" class="reveal-modal medium">

  <%= form_for Link.new, :remote => true do |f| %>
    <div class="row">
      <div class="four columns">
        <h4>Post a Link</h4>
      </div>
      <div class="six columns">
        <h4>
          <label style="font-size: 14px;">
            <%= f.select :link_category_id, current_user.link_categories.map{|lc| [lc.title, lc.id] } << ["Add New", ""] %>
          </label>
        </h4>
      </div>
    </div>
    <%#= f.hidden_field :link_category_id, {:value => current_user.link_categories.first.id } %>
    <div><%= f.label :title %><br />
  	<%= f.text_field :title %></div>

  	<div><%= f.label :description %><br />
  	<%= f.text_area :description, {:rows => 3, :cols => 4, :length => 140} %></div>

    <div><%= f.label :link %><br />
    <%= f.text_field :link %></div>

    <div><%= f.label :tag_list, "Tags &nbsp;<div style='color: #6F6F6F' class='help-inline'>i.e. Ruby, PHP, Wordpress, Git, jQuery etc.</div>".html_safe %><br />
    <%= f.text_field :tag_list %></div>

  	<%= f.hidden_field(:user_id , {:value => current_user.try(:id)})  %>
    <div><%= f.submit "Post", :class => "button small", :disable_with => "Posting.." %></div>
  <% end %>

   <a class="close-reveal-modal">&#215;</a>
</div>
