<div id="cardModal" class="reveal-modal medium">
  <h4>Post a card</h4>

  <%= form_for Card.new, :remote => true do |f| %>

    <div><%= f.label :description, "Card" %><br />
  	<%= f.text_area :description, {:rows => 3, :cols => 4, :length => 140} %></div>
  	<%= f.hidden_field(:user_id , {:value => current_user.try(:id)})  %>
    <div><%= f.submit "Send", :class => "button small", :disable_with => "Sending.." %></div>
  <% end %>

   <a class="close-reveal-modal">&#215;</a>
   <h4>Note: this is not enough. The card needs screeshots and link and date and technologies</h4>
</div>
