<li><%= link_to "Plus", "https://plus.google.com/share?url=#{url}", :target => "_blank", :class => "icon" %></li>
<li><%= link_to "Del", "http://del.icio.us/post?url=#{url}&title=#{title}&notes=#{description}", :target => "_blank", :class => "icon" %></li>
<li><%= link_to "Tweet", "https://twitter.com/share?url=#{url}", :target => "_blank", :class => "icon twitter"  %></li>
<li><%= link_to "FB", "http://www.facebook.com/share.php?u=#{url}&title=#{title}", :target => "_blank", :class => "icon fb" %></li>
<li>
	<%= link_to "Link", "http://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{title}&source=weareindiatech.com&summary=#{description}", :target => "_blank", :class => "icon " %>
</li>

<li>
  <%= link_to "Share", share_path(:resource_type => type, :track_id => track_id), :class => "icon", :remote => true,:class => "small button tag share", :style => "color: black" %>
</li>