<div id="signupModal" class="reveal-modal medium">
  <div class="row">
    <div class="columns twelve centered">
      <h3>Sign up</h3>

      <%= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>

        <div><%= f.label :username %><br />
          <div class="row collapse">
            <div class="two mobile-one columns">
              <span class="prefix">@</span>
            </div>
            <div class="ten mobile-three columns">
              <%= f.text_field :username, :placeholder => "rahul" %>
            </div>
          </div>
      	</div>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, :placeholder => "rahul@gmail.com" %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password, :placeholder => "password" %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :placeholder => "confrm password"  %></div>

        <div class="row">
          <div class="three columns"><%= f.submit "Join", :class => "small button round" %></div>
          <div class="three columns"><p><a href="/users/sign_in" class="sign-in-rev">Existing User?</a></p></div>
        </div>
      <% end %>
    </div>
  </div>
   <a class="close-reveal-modal">&#215;</a>
</div>
