<div id="signinModal" class="reveal-modal medium">
	<div class="row">
		<div class="columns twelve centered">
		  <h3>Sign in</h3>
		  <%= form_for(User.new, :as => :user, :url => session_path(:user)) do |f| %>

			  <div><%= f.label :login %><br />
				<%= f.text_field :login, placeholder: "Email or Username" %></div>

			  <div><%= f.label :password %><br />
			  <%= f.password_field :password, placeholder: "Password" %></div>

			  <div class="row">
				  <%= f.check_box :remember_me, :checked => true, :style => "display:none" %>
				  <div class="three columns"><%= f.submit "Join", :class => "small button round success" %></div>
				  <div class="three columns"><p><a href="/users/sign_up" class="sign-up-rev">New User?</a></p></div>
				</div>
			<% end %>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>