<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "bree/stylesheet.css" %>
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://dl.dropbox.com/u/40036711/Scripts/jquery.ddslick.min.js"></script>
  
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "aa3b75ae-ca33-4ff6-8a96-d1784842b459", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

	<%= yield(:head) %>
</head>
<body>
	<%= render "layouts/header"%>
	<div class="row" id="top-container">
		<div class="tewelve columns centered">
			
		<div class="row">
			<% flash.each do |type, message| -%>
				<div class="columns three"></div>
				<div class="columns six alert-box <%= flash_type_class(type) %>">
	        <%= message %>
	        <a href="" class="close">×</a>
      	</div>
			<% end %>
			<!-- The row is difined here. just start with the columns inside templates -->
  		<%= yield %>
  	</div>
  	</div>
	</div>
 	<%= render "layouts/sign_in_modal" %>
 	<%= render "layouts/sign_up_modal" %>
 	<% if current_user %>
 	<%= render "layouts/post_a_micro" %>
 	<%= render "layouts/post_a_link" %>
 	<%= render "layouts/post_a_card" %>
 	<% end %>
 	<%= render "layouts/footer"%>
 	<%= yield(:js) %>
</body>
</html>